:root {
  /* General */
  --main-bg: #ffffff;
  --dark: #1f1f1f;
  --accent: #69ae96;
  --hover: #3B7A64;
  --dark-trans: rgb(143, 143, 143);
  --nav-color: rgb(162, 162, 162);
  --add-color:rgb(231, 231, 231);
  --bg-1: rgb(245, 249, 250);
  --bg-2: #f5fcf8;
  --bg-3: rgb(252, 248, 245);
  --bg-4: rgb(233, 233, 233);

  --basetwo: #ff1c3b;
  --colorgradientone: #ff5a00;

  --body-line-height: 150%;
}
